<h1 class="hero-unit center"><img src="https://abs.twimg.com/a/1375391966/images/resources/twitter-bird-white-on-blue.png " width="100px" height="100px"> Twitter
<ul>
	<br>
<li><a href="https://twitter.com/intent/tweet?screen_name=current.user" class="twitter-mention-button" data-related="current.user">Tweet to @pallavi_shastry</a>

</li>
</ul>
</h1>
<div class="brand" hero-unit>
	
<h3>  Recent Tweets of <%= @twitter.first.user.name %></h3>
<% @twitter.each do |tweet| %>
<br>
<blockquote><%= tweet.text %></blockquote>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<%= link_to "Reply","https://twitter.com/intent/tweet?screen_name=current.user", :class => "btn"%>
<%= link_to "Retweet", "https://twitter.com/intent/retweet?tweet_id=#{tweet.id}", :class => "btn"%>
<%= link_to "Favorite it" , "https://twitter.com/intent/favorite?tweet_id=#{tweet.id}" , :class => "btn"%>
<% end %>
<br>
<br>
</div>

 